# General
.DS_Store
.vscode/

# Backend (Python)
# ----------------
backend/.venv/
backend/.env
backend/logs/
backend/db.sqlite3*
backend/.env.docker

# Python cache & compiled files (using ** to find in all subdirectories)
**__pycache__/
*.py[cod]
*$py.class

# Other common Python files
.pytest_cache/
.mypy_cache/
.ruff_cache/


# Frontend (Next.js)
# ----------------
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.tsbuildinfo
frontend/next-env.d.ts